@CHARSET "ISO-8859-1";

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
h3 {
    color: green;
    margin-left: 40px;
}
td {
    color: green;
    margin-left: 25px;
}
legend{
	color: yellow;
	font-size: 25px;
	
}